
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import 'base/reset';
@import 'base/vars';
@import 'layout/all';

/* very basic styles */
*{
	box-sizing: border-box;
}

body{
	width: 100%;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	
}
.page-wrapper {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	top: 5vh;

	@media screen and (max-width: 375px) {
		&{
			top: 0;
		}
	}

	header {
		width: 100%;
		min-height: 35vh;
		background-image: url('../images/pattern-bg.png');
		background-position: center center;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat; 
		text-align-last: center;

		h1 {
			color: #FFF;
			padding: 3%;
			font-size: 2em;
			font-weight: 500;
		}


		form {
			margin: 0 auto; 
			width: 90%;
			
			@media screen and (max-width: 375px) {
				& {
					width: 90%;
				}
			}
		
			input {
				padding: 1%;
				margin: 0; 
				display: inline-block;
				font-size: 18px;
				
				border: 1px solid $veryDarkGray;
				&:hover {
					cursor: pointer;
				}

				@media screen and (max-width: 375px) {
					& {
						padding: 2%;
					}
				}
		
				&[type=text] {
					text-align: left;
					border-radius: 10px 0 0 10px; 
					
					width: 30vw;
					color: $veryDarkGray;

					&::placeholder {
						color: $darkGray;
					}
					

					@media screen and (max-width: 375px) {
						& {
							width: 80%;
						}
					}
					
				}
				&[type=submit] {
					border-radius: 0 10px 10px 0; 
					background-color: $veryDarkGray;
					color: #FFF;
					width: 5vw;

					@media screen and (max-width: 375px) {
						& {
							width: 10%;
						}
					}
				}
			}
		
		}	
	}


}