
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import 'base/reset';
@import 'base/vars';
@import 'layout/all';

/* very basic styles */
*{
	box-sizing: border-box;
}

body{
	
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	line-height: 1;
	
}
header {
	min-height: 30vh;
	background-image: url('../images/pattern-bg.png');
		background-position: center center;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat; 
		text-align-last: center;

		h1 {
			color: #FFF;
			padding: 1%;
		}
}

form {
	margin: 0;
	

	input {
		padding: 1%;
		margin: 0; 
		display: inline-block;
		font-size: 18px;
		border: 1px solid $veryDarkGray;

		&[type=text] {
			
			border-radius: 10px 0 0 10px; 
			
			width: 30%;
			color: $darkGray;
		}
		&[type=submit] {
			border-radius: 0 10px 10px 0; 
			background-color: $veryDarkGray;
			color: #FFF;
		}
	}

}
